<app-internal-layout titulo="Configurações">

  <div class="lista-configuracoes">

    <!-- Opção 1: Cadastro Unidade -->
    <a [routerLink]="['/cadastro-unidade']" class="item-config">
      <div class="item-info">
        <span class="item-icone">🏢</span>
        <span class="item-titulo">Cadastro Unidade</span>
      </div>
      <span class="item-seta">&rsaquo;</span>
    </a>

    <!-- Opção 2: Conectar Nuvem -->
    <a [routerLink]="['/configuracao-nuvem']" class="item-config">
      <div class="item-info">
        <span class="item-icone">☁️</span>
        <span class="item-titulo">Conectar Nuvem</span>
      </div>
      <span class="item-seta">&rsaquo;</span>
    </a>

    <!-- Futuras opções entrarão aqui mantendo o padrão retangular -->
  </div>

</app-internal-layout>
