<header class="header-principal-novo shadow-sm">
  <div class="header-container-center container">
    <img src="assets/icons/logo-ssvp-global.png" alt="Logo SSVP" class="logo-ssvp-grande">
    <h1 class="titulo-cabecalho mb-0">TESOURARIA CONFERÊNCIA</h1>
  </div>
</header>

<main class="menu-grid container">
  <!-- Cartão 1 -->
  <a [routerLink]="['/chave-pix']" class="menu-card">
    <div class="icon-box">
      <img src="assets/icons/icons8-pix-50.png" alt="Ícone PIX" class="menu-icon-img">
    </div>
    <span>Chave Pix<br>Conferência</span>
  </a>

  <!-- Cartão 2 -->
  <a [routerLink]="['/caixa']" class="menu-card">
    <div class="icon-box">📘</div>
    <span>Livro Caixa</span>
  </a>

  <!-- Cartão 3 -->
  <a [routerLink]="['/contador']" class="menu-card">
    <div class="icon-box">💵</div>
    <span>Contar Dinheiro</span>
  </a>

  <!-- Cartão 4 -->
  <a [routerLink]="['/contador-parcial']" class="menu-card">
    <div class="icon-box">💰</div>
    <span>Contar Dinheiro<br>(Parcial)</span>
  </a>

  <!-- Cartão 5: Configurações -->
  <a [routerLink]="['/configuracoes']" class="menu-card">
    <div class="icon-box">⚙️</div>
    <span>Configurações</span>
  </a>
</main>

<footer class="footer-novo">
  <div class="footer-content-center">
    <p class="footer-texto">Conferência Santa Perpétua e Santa Felicidade - DF</p>
    <span class="version-tag-blue">v3.0.0-Beta</span>
  </div>
</footer>
